<div>
    <h1>Panel De Administrador</h1>
    <div class="admin-Buttons">
        <button>Crear Producto</button>
        <button>Actualizar Producto</button>
        <button>Eliminar Productos</button>
    </div>
</div>