<h1>Todo listo para Iniciar el chat</h1>
<div>
    <input type="text" id="chatBox">
</div>
<p id="messageLogs"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/client.js"></script>
