<h1>Token caducado o inválido, por favor genera uno nuevo</h1>
<a href="/api/users/passReset" style="font-size: 25px;">Olvidaste tu contraseña?</a>
<div class="container">
<div class="form-container sign-in-container reset-password-container" style="display: none; width: 100% !important;">
  <form id="reset-password-form" name="reset-password-form">
    <h1>Recuperar Contraseña</h1>
    <p>Por favor, ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
    <input type="email" name="email" placeholder="Email" />
    <input type="submit" class="btn" value="Enviar Correo" />
  </form>
</div>
</div>

<script src="./js/login.js"></script>