<h1>Ecommerce Simulation</h1>
<div class="container">
  <div class="form-container sign-in-container">
<form id="login-form" name="login-form">
  <h1>Login</h1>
			<div class="social-container">
				<a href="/api/sessions/githubcallback" class="social"><i class="fa-brands fa-github"></i></i></a>
			</div>
			<span>o usa tu cuenta</span>
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <a href="/api/users/passReset">Olvidaste tu contraseña?</a>
    <input type="submit" class="btn" value="Iniciar Sesión" />   
  </form>
  </div>
  <div class="form-container sign-in-container reset-password-container" style="display: none;">
  <form id="reset-password-form" name="reset-password-form">
    <h1>Recuperar Contraseña</h1>
    <p>Por favor, ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
    <input type="email" name="email" placeholder="Email" />
    <input type="submit" class="btn" value="Enviar Correo" />
  </form>
</div>
  <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>¡Bienvenid@!</h1>
				<p>Si no tienes una cuenta, regístrate para continuar</p>
				<button class="ghost" id="signUp"><a href="/register">Regístrate</a></button>
			</div>
		</div>
	</div>
</div>
  
<script src="./js/login.js"></script>