<h1>Cambia tu Contraseña</h1>
<div class="container">
    <div class="form-container sign-in-container">
<form id="reset-form" name="reset-form">
    <input type="password" name="newPassword" placeholder="Nueva Contraseña" />
    <input type="password" name="confirmPassword" placeholder="Repite tu Contraseña"/> 
    <input type="hidden" name="email" id="email" value="" />
    <input type="submit" class="btn" />   
</form>
</div>

<script src="./js/reset.js"></script>